*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

@font-face {
  font-family: 'Gotham Pro';
  src: local("Gotham Pro"), local("GothamPro"), url("../fonts/GothamPro/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"), url("../fonts/GothamPro/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"), url("../fonts/GothamPro/GothamPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --f-default: 'Gotham Pro';
  --c-blue: #497AF0;
  --c-blue-h: #1E5DF4;
  --c-text: #2B2B2B;
  --s-medium: 500;
  --mb-section: 120px;
}

* {
  outline: none;
  border: 0;
}

html, body {
  position: relative;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-size: 1.125rem;
  color: var(--c-text);
}

@media (max-width: 540px) {
  p {
    font-size: 0.875rem;
  }
}

b, strong {
  font-weight: var(--s-medium);
}

h2, h3 {
  font-size: 2.75rem;
}

@media (max-width: 540px) {
  h2, h3 {
    font-size: 2rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--s-medium);
  color: var(--c-text);
}

body {
  position: relative;
  font-size: 1rem;
  font-family: var(--f-default);
  overflow-x: hidden;
  background-color: #FBFBFB;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
    width: calc(100% - 40px);
  }
}

.container-max {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container-max {
    max-width: 100%;
    width: calc(100% - 40px);
  }
}

.relative {
  position: relative;
}

.w-8\/12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.666667%;
      -ms-flex: 0 0 66.666667%;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.w-7\/12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.333333%;
      -ms-flex: 0 0 58.333333%;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.w-6\/12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.w-5\/12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.666667%;
      -ms-flex: 0 0 41.666667%;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.w-4\/12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.block {
  display: block;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items-center {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.items-start {
  -webkit-box-align: start !important;
  -webkit-align-items: flex-start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.items-end {
  -webkit-box-align: end !important;
  -webkit-align-items: flex-end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.button-blue {
  border-radius: 0.5rem;
  background-color: var(--c-blue);
  color: white;
  font-size: 1.25rem;
  font-weight: var(--s-medium);
  padding: 0.875rem 2rem;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.button-blue:hover {
  background-color: var(--c-blue-h);
}

.button-border {
  border-radius: 0.5rem;
  background-color: white;
  color: var(--c-blue);
  font-size: 1.25rem;
  font-weight: var(--s-medium);
  padding: 0.875rem 2rem;
  border: 0.0625rem solid var(--c-blue);
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.button-border:hover {
  color: var(--c-blue-h);
  border-color: var(--c-blue-h);
}

.field {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.3125rem;
  color: var(--c-text);
  padding: 0 0.75rem;
  border: 0.0625rem solid #BABFC3;
  font-size: 1rem;
  font-family: var(--f-default);
}

.field::-webkit-input-placeholder {
  color: #868686;
}

.field:-moz-placeholder {
  color: #868686;
}

.field::-moz-placeholder {
  color: #868686;
}

.field:-ms-input-placeholder {
  color: #868686;
}

textarea.field {
  padding: 0.75rem;
  resize: none;
  color: var(--c-text);
  height: 7.5rem;
}

textarea.field::-webkit-input-placeholder {
  color: #868686;
}

textarea.field:-moz-placeholder {
  color: #868686;
}

textarea.field::-moz-placeholder {
  color: #868686;
}

textarea.field:-ms-input-placeholder {
  color: #868686;
}

.field-checked {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.125rem;
  cursor: pointer;
}

.field-checked input {
  display: none;
}

.field-checked input:checked ~ .check {
  background-color: var(--c-blue);
}

.field-checked input:checked ~ .check::before {
  content: "\e903";
  font-family: 'icons';
  font-size: 0.5rem;
  color: white;
}

.field-checked .check {
  width: 1.125rem;
  height: 1.125rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 1.125rem;
      -ms-flex: 0 0 1.125rem;
          flex: 0 0 1.125rem;
  border-radius: 0.25rem;
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.0625rem solid var(--c-blue);
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  margin-right: 0.5625rem;
}

.field-checked p {
  font-size: 0.875rem;
  color: var(--c-text);
}

.block_wrap {
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: white;
  -webkit-box-shadow: 0 0 6px rgba(73, 122, 240, 0.25);
          box-shadow: 0 0 6px rgba(73, 122, 240, 0.25);
}

.block_wrap__table .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0.75rem;
  border-bottom: 0.0625rem solid #E5E5E5;
}

.block_wrap__table .title span {
  font-size: 1.25rem;
  color: var(--c-text);
  font-weight: var(--s-medium);
}

.block_wrap__table .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.875rem 0;
  border-bottom: 0.0625rem solid #F5F5F5;
}

.block_wrap__table .item span {
  font-size: 1.125rem;
  color: var(--c-text);
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2.5rem;
}

@media (max-width: 1050px) {
  .header {
    position: relative;
    z-index: 101;
    background-color: #FAFBFF;
    margin-bottom: 0;
  }
}

.header__top {
  padding: 0.75rem 0;
  margin-bottom: 1.25rem;
}

@media (max-width: 1050px) {
  .header__top {
    display: none;
  }
}

.header__top > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top-left ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.header__top-left ul li {
  position: relative;
  margin-right: 2.5rem;
}

.header__top-left ul li:last-child {
  margin-right: 0;
}

.header__top-left ul li:last-child::before {
  display: none;
}

.header__top-left ul li::before {
  content: "";
  position: absolute;
  top: 0;
  right: -1.25rem;
  height: 1.25rem;
  width: 0.0625rem;
  background-color: #C4C4C4;
}

.header__top-left ul li a {
  color: var(--c-text);
  font-weight: var(--s-medium);
}

.header__top-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-right .item i {
  margin-right: 0.625rem;
  font-size: 0.875rem;
}

.header__top-right .item span {
  color: #2A2A2A;
}

.header__top-right .item:first-child {
  margin-right: 1.875rem;
}

.header__top-right .item:last-child {
  margin-left: 5rem;
}

.header__top-right .item:last-child i {
  font-size: 1.25rem;
  margin-right: 0;
}

.header__center {
  margin-bottom: 1.5rem;
}

@media (max-width: 1050px) {
  .header__center {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #FAFBFF;
  }
}

.header__center > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1050px) {
  .header__center-phone {
    margin-left: auto;
    margin-right: 1.5rem;
  }
}

.header__center-phone .text {
  margin-right: 2.5rem;
  font-size: 1.25rem;
  color: #2A2A2A;
  font-weight: var(--s-medium);
}

@media (max-width: 1050px) {
  .header__center-phone .text {
    margin-right: 1rem;
  }
}

@media (max-width: 660px) {
  .header__center-phone .text {
    display: none;
  }
}

@media (max-width: 1050px) {
  .header__center-phone .button-blue {
    padding: 0.9375rem;
  }
}

@media (max-width: 1050px) {
  .header__center-phone .button-blue span {
    display: none;
  }
}

.header__center-phone .button-blue i {
  display: none;
}

@media (max-width: 1050px) {
  .header__center-phone .button-blue i {
    display: block;
    font-size: 1.25rem;
  }
}

.header__center-burger {
  display: none;
}

@media (max-width: 1050px) {
  .header__center-burger {
    display: block;
  }
  .header__center-burger .button-blue {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.875rem 1.5rem;
  }
  .header__center-burger .button-blue > span {
    margin-right: 0.5rem;
  }
  .header__center-burger .burger {
    width: 1.5625rem;
    height: 1.125rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__center-burger .burger span {
    width: 100%;
    height: 0.125rem;
    background-color: white;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .header__center-burger .burger::after, .header__center-burger .burger::before {
    content: "";
    width: 100%;
    height: 0.125rem;
    background-color: white;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
}

@media (max-width: 660px) {
  .header__center-burger .button-blue {
    width: 3.25rem;
    height: 3.25rem;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__center-burger .button-blue > span {
    display: none;
  }
}

@media (max-width: 1050px) {
  .header__center-burger.active .burger span {
    opacity: 0;
  }
  .header__center-burger.active .burger::before {
    -webkit-transform: rotate(45deg) translateY(0.4375rem) translateX(0.3125rem);
        -ms-transform: rotate(45deg) translateY(0.4375rem) translateX(0.3125rem);
            transform: rotate(45deg) translateY(0.4375rem) translateX(0.3125rem);
  }
  .header__center-burger.active .burger::after {
    -webkit-transform: rotate(-45deg) translateY(-0.375rem) translateX(0.25rem);
        -ms-transform: rotate(-45deg) translateY(-0.375rem) translateX(0.25rem);
            transform: rotate(-45deg) translateY(-0.375rem) translateX(0.25rem);
  }
}

.header__nav {
  width: 100%;
  border-radius: 1rem;
  background-color: white;
  -webkit-box-shadow: 0 0 0.625rem rgba(10, 31, 221, 0.25);
          box-shadow: 0 0 0.625rem rgba(10, 31, 221, 0.25);
}

@media (max-width: 1050px) {
  .header__nav {
    display: none;
  }
}

.header__nav > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav > ul > li {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.header__nav > ul > li ul {
  position: absolute;
  top: 4rem;
  left: 0;
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 12px rgba(73, 122, 240, 0.4);
          box-shadow: 0 0 12px rgba(73, 122, 240, 0.4);
  z-index: 10;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  min-width: 27.0625rem;
  display: none;
}

.header__nav > ul > li ul li {
  margin-bottom: 1rem;
}

.header__nav > ul > li ul li:nth-child(2n-1) {
  width: 13.625rem;
}

.header__nav > ul > li ul li:last-child, .header__nav > ul > li ul li:nth-last-child(2) {
  margin-bottom: 0;
}

.header__nav > ul > li ul li a:hover {
  color: var(--c-blue);
}

.header__nav > ul > li ul.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__nav > ul > li:first-child a {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.header__nav > ul > li:last-child a {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.header__nav > ul > li:last-child::before {
  display: none;
}

.header__nav > ul > li::before {
  content: "";
  position: absolute;
  top: 0.9375rem;
  right: 0;
  height: 1.5rem;
  width: 0.0625rem;
  background-color: #C4C4C4;
}

.header__nav > ul > li > a {
  display: block;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.25rem;
  font-weight: var(--s-medium);
  color: var(--c-text);
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.header__nav > ul > li > a:hover {
  background-color: #F3F7FF;
  color: #2B63E8;
}

@media (max-width: 1050px) {
  .header_fixed {
    background-color: #FAFBFF;
  }
  .header_fixed .header__center {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FAFBFF;
    padding: 2rem 0;
    margin: 0;
  }
  .header_fixed::before {
    content: "";
    width: 100%;
    height: 7.375rem;
  }
}

.list_menu {
  display: none;
}

@media (max-width: 899px) {
  .list_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.smart_menu {
  position: fixed;
  top: 0;
  padding-top: 4.6875rem;
  padding-bottom: 4.6875rem;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #FAFBFF;
  z-index: 100;
  display: none;
}

.smart_menu .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.smart_menu__search {
  margin-top: 4.6875rem;
  width: 25.625rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 540px) {
  .smart_menu__search {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.smart_menu__search form {
  width: 100%;
}

.smart_menu__search form .field-set {
  position: relative;
}

.smart_menu__search form .field-set input {
  width: 100%;
  border-bottom: 0.0625rem solid #939393;
  padding: 0.5rem 0;
  color: #BCBCBC;
  font-size: 1.5rem;
  font-family: var(--f-default);
  font-weight: var(--s-medium);
}

@media (max-width: 540px) {
  .smart_menu__search form .field-set input {
    font-size: 1rem;
  }
}

.smart_menu__search form .field-set input::-webkit-input-placeholder {
  color: #BCBCBC;
}

.smart_menu__search form .field-set input:-moz-placeholder {
  color: #BCBCBC;
}

.smart_menu__search form .field-set input::-moz-placeholder {
  color: #BCBCBC;
}

.smart_menu__search form .field-set input:-ms-input-placeholder {
  color: #BCBCBC;
}

.smart_menu__search form .field-set button {
  position: absolute;
  top: 0.3125rem;
  right: 0;
}

.smart_menu__search form .field-set button i {
  font-size: 1.75rem;
}

@media (max-width: 540px) {
  .smart_menu__search form .field-set button i {
    font-size: 1.25rem;
  }
}

.smart_menu__menu {
  width: 100%;
  margin-bottom: 1.25rem;
}

.smart_menu__menu ul {
  padding: 2rem 0;
  border-bottom: 0.125rem solid #E1E1E1;
}

@media (max-width: 540px) {
  .smart_menu__menu ul {
    padding: 1.5rem 0;
  }
}

.smart_menu__menu ul li {
  text-align: right;
  margin-bottom: 4rem;
}

@media (max-width: 540px) {
  .smart_menu__menu ul li {
    margin-bottom: 1.5rem;
  }
}

.smart_menu__menu ul li:last-child {
  margin-bottom: 0;
}

.smart_menu__menu ul li a {
  font-size: 3rem;
  font-weight: var(--s-medium);
  color: var(--c-text);
}

@media (max-width: 540px) {
  .smart_menu__menu ul li a {
    font-size: 1.5rem;
  }
}

.smart_menu__menu ul:last-child li {
  margin-bottom: 2rem;
}

@media (max-width: 540px) {
  .smart_menu__menu ul:last-child li {
    margin-bottom: 1.5rem;
  }
}

.smart_menu__menu ul:last-child li:last-child {
  margin-bottom: 0;
}

.smart_menu__menu ul:last-child li a {
  font-size: 1.5rem;
}

@media (max-width: 540px) {
  .smart_menu__menu ul:last-child li a {
    font-size: 1.125rem;
  }
}

.smart_menu__bottom .item {
  margin-bottom: 0.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.smart_menu__bottom .item i {
  margin-right: 0.625rem;
  font-size: 1rem;
}

.smart_menu__bottom .item:last-child {
  display: none;
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: var(--s-medium);
  text-align: right;
}

@media (max-width: 540px) {
  .smart_menu__bottom .item:last-child {
    display: block;
  }
}

@media (max-width: 540px) {
  .smart_menu__bottom .item span {
    font-size: 0.875rem;
  }
}

.smart_menu.active {
  display: block;
}

.list_menu {
  width: calc(100% - 40px);
  margin: 0 auto;
  margin-bottom: 2rem;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.list_menu li {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.list_menu li a {
  border-radius: 0.5rem;
  font-size: 1.125rem;
  font-weight: var(--s-medium);
  color: black;
  padding: 0.75rem 1.5rem;
  border: 0.0625rem solid #D4D4D4;
  display: block;
}

.banner {
  margin-bottom: var(--mb-section);
  height: 25rem;
}

@media (max-width: 1050px) {
  .banner {
    height: 18.75rem;
    margin-bottom: 11rem;
  }
}

@media (max-width: 540px) {
  .banner {
    height: auto;
    margin-bottom: 1.75rem;
  }
}

.banner .container-max {
  position: relative;
}

.banner__image {
  overflow: hidden;
  border-radius: 1rem;
  height: 25rem;
}

@media (max-width: 1050px) {
  .banner__image {
    height: 18.75rem;
  }
}

.banner__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner__form {
  position: absolute;
  bottom: -7.5rem;
  right: 2.5rem;
  width: 28rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  -webkit-box-shadow: 0 0 0.75rem rgba(73, 122, 240, 0.4);
          box-shadow: 0 0 0.75rem rgba(73, 122, 240, 0.4);
}

@media (max-width: 1050px) {
  .banner__form {
    width: 20.6875rem;
    right: 0;
    padding: 1.5rem;
    bottom: -13.125rem;
  }
}

@media (max-width: 540px) {
  .banner__form {
    position: relative;
    width: 100%;
    top: -1.25rem;
    bottom: auto;
  }
}

.banner__form .title {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  color: var(--c-text);
}

.banner__form .field {
  margin-bottom: 1rem;
}

.info {
  margin-bottom: var(--mb-section);
}

@media (max-width: 767px) {
  .info {
    margin-bottom: 4.5rem;
  }
}

@media (max-width: 540px) {
  .info {
    margin-bottom: 4rem;
  }
}

.info .title {
  margin-bottom: 2rem;
}

@media (max-width: 540px) {
  .info .title {
    margin-bottom: 1.5rem;
  }
}

.info p {
  line-height: 146%;
  letter-spacing: 0.0375rem;
  margin-bottom: 1.25rem;
}

.info p:last-child {
  margin-bottom: 0;
}

.advantages {
  margin-bottom: var(--mb-section);
}

@media (max-width: 899px) {
  .advantages {
    margin-bottom: 4.5rem;
  }
}

@media (max-width: 540px) {
  .advantages {
    margin-bottom: 4rem;
  }
}

.advantages .title {
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
  .advantages .title {
    max-width: 22rem;
  }
}

@media (max-width: 540px) {
  .advantages .title {
    max-width: 20.5rem;
    margin-bottom: 1.25rem;
  }
}

.advantages__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.advantages__items .item {
  width: calc((100% - 4rem) / 3);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 4px rgba(10, 31, 221, 0.25);
          box-shadow: 0 0 4px rgba(10, 31, 221, 0.25);
  padding: 2rem 1.25rem;
  margin-right: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 899px) {
  .advantages__items .item {
    width: calc((100% - 1rem) / 2);
    margin-right: 1rem;
  }
}

@media (max-width: 540px) {
  .advantages__items .item {
    padding: 1.75rem;
    margin-right: 0;
    width: 100%;
  }
}

.advantages__items .item:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: 899px) {
  .advantages__items .item:nth-child(3n) {
    margin-right: 1rem;
  }
}

@media (max-width: 899px) {
  .advantages__items .item:nth-child(2n) {
    margin-right: 0;
  }
}

.advantages__items .item:first-child, .advantages__items .item:nth-child(2), .advantages__items .item:nth-child(3) {
  margin-bottom: 2rem;
}

@media (max-width: 899px) {
  .advantages__items .item:first-child, .advantages__items .item:nth-child(2), .advantages__items .item:nth-child(3) {
    margin-bottom: 0;
  }
}

@media (max-width: 899px) {
  .advantages__items .item:first-child, .advantages__items .item:nth-child(2), .advantages__items .item:nth-child(3), .advantages__items .item:nth-child(4) {
    margin-bottom: 1rem;
  }
}

@media (max-width: 540px) {
  .advantages__items .item {
    margin-bottom: 1rem;
  }
}

.advantages__items .item__icon {
  margin-right: 1rem;
}

@media (max-width: 899px) {
  .advantages__items .item__icon {
    max-width: 4rem;
  }
}

.advantages__items .item p {
  font-size: 1.25rem;
  font-weight: var(--s-medium);
  max-width: 13.4375rem;
}

@media (max-width: 767px) {
  .advantages__items .item p {
    font-size: 1.125rem;
  }
}

.works {
  margin-bottom: var(--mb-section);
}

@media (max-width: 899px) {
  .works {
    margin-bottom: 4.5rem;
  }
}

@media (max-width: 540px) {
  .works {
    margin-bottom: 4rem;
  }
}

.works .container {
  position: relative;
}

.works__title {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 899px) {
  .works__title {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 360px) {
  .works__title .title {
    font-size: 1.5rem;
  }
}

@media (max-width: 540px) {
  .works .swiper-container {
    width: calc(100% - 40px);
  }
}

.works .swiper-container .swiper-nav {
  position: absolute;
  top: 0;
  right: 0;
}

.works .swiper-container .swiper-pagination {
  margin-top: 0.75rem;
  bottom: auto;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

@media (max-width: 540px) {
  .works .swiper-container .swiper-pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.works .swiper-container .swiper-pagination .swiper-pagination-bullet {
  background-color: rgba(73, 122, 240, 0.5);
  width: 0.5rem;
  height: 0.5rem;
  opacity: 1;
}

.works .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--c-blue);
}

.works .swiper-wrapper {
  height: 31.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

@media (max-width: 540px) {
  .works .swiper-wrapper {
    height: 25rem;
  }
}

.works .swiper-slide {
  width: 10rem;
  height: 14.5625rem;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-right: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 540px) {
  .works .swiper-slide {
    -webkit-flex-wrap: unset;
        -ms-flex-wrap: unset;
            flex-wrap: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 25rem;
  }
  .works .swiper-slide .works__item {
    width: 100%;
  }
  .works .swiper-slide .works__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.works .swiper-slide:nth-child(3n-5) {
  margin-bottom: 2rem;
}

.works .swiper-slide:nth-child(3n) {
  width: 34rem;
  height: 100%;
}

.works .swiper-slide:nth-child(3n) .works__item {
  height: 100%;
}

.works .swiper-slide:nth-child(3n) img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 899px) {
  .works .swiper-slide:nth-child(3n) {
    width: 28rem;
  }
}

.works .swiper-slide-next ~ .swiper-slide ~ .swiper-slide ~ .swiper-slide ~ .swiper-slide {
  opacity: .5;
}

.swiper-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.swiper-nav .swiper-prev,
.swiper-nav .swiper-next {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--c-blue);
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

@media (max-width: 540px) {
  .swiper-nav .swiper-prev,
  .swiper-nav .swiper-next {
    width: 2.375rem;
    height: 2.375rem;
  }
}

.swiper-nav .swiper-prev:hover,
.swiper-nav .swiper-next:hover {
  -webkit-box-shadow: 0 0 20px rgba(30, 93, 244, 0.5);
          box-shadow: 0 0 20px rgba(30, 93, 244, 0.5);
}

.swiper-nav .swiper-prev i,
.swiper-nav .swiper-next i {
  color: white;
  font-size: 1.375rem;
}

@media (max-width: 540px) {
  .swiper-nav .swiper-prev i,
  .swiper-nav .swiper-next i {
    font-size: 1rem;
  }
}

.swiper-nav .swiper-prev {
  margin-right: 0.75rem;
}

@media (max-width: 540px) {
  .swiper-nav .swiper-prev {
    margin-right: 0.5rem;
  }
}

.swiper-nav .swiper-next i {
  margin-left: 0.25rem;
}

.swiper-nav .swiper-button-disabled {
  cursor: default;
  background-color: #8EACF5;
}

.swiper-nav .swiper-button-disabled:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.how_work {
  margin-bottom: var(--mb-section);
}

@media (max-width: 899px) {
  .how_work {
    margin-bottom: 4.5rem;
  }
}

@media (max-width: 540px) {
  .how_work {
    margin-bottom: 4rem;
  }
}

.how_work .title {
  margin-bottom: 6rem;
}

.how_work__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.how_work__items .item {
  position: relative;
  width: calc((100% - 4rem) / 3);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 4px rgba(10, 31, 221, 0.25);
          box-shadow: 0 0 4px rgba(10, 31, 221, 0.25);
  padding: 1.25rem;
  background-color: white;
  margin-right: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 899px) {
  .how_work__items .item {
    width: calc((100% - 1rem) / 2);
    margin-right: 1rem;
    margin-bottom: 6.5rem;
  }
}

@media (max-width: 540px) {
  .how_work__items .item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 3.5625rem;
  }
}

.how_work__items .item__count {
  position: absolute;
  top: -6.25rem;
  left: 0;
  font-size: 9rem;
  font-weight: var(--s-medium);
  color: rgba(73, 122, 240, 0.2);
  z-index: -1;
}

@media (max-width: 540px) {
  .how_work__items .item__count {
    font-size: 5rem;
    top: -3.75rem;
  }
}

.how_work__items .item:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: 899px) {
  .how_work__items .item:nth-child(3n) {
    margin-right: 1rem;
  }
}

@media (max-width: 899px) {
  .how_work__items .item:nth-child(2n) {
    margin-right: 0;
  }
  .how_work__items .item:last-child, .how_work__items .item:nth-last-child(2) {
    margin-bottom: 0;
  }
}

@media (max-width: 540px) {
  .how_work__items .item:nth-last-child(2) {
    margin-bottom: 3.5625rem;
  }
  .how_work__items .item:last-child {
    margin-bottom: 0;
  }
}

.how_work__items .item:first-child, .how_work__items .item:nth-child(2), .how_work__items .item:nth-child(3) {
  margin-bottom: 6.5rem;
}

@media (max-width: 899px) {
  .how_work__items .item:first-child, .how_work__items .item:nth-child(2), .how_work__items .item:nth-child(3) {
    margin-bottom: 6.5rem;
  }
}

@media (max-width: 540px) {
  .how_work__items .item:first-child, .how_work__items .item:nth-child(2), .how_work__items .item:nth-child(3) {
    margin-bottom: 3.5625rem;
  }
}

.how_work__items .item__icon {
  margin-right: 1rem;
}

.how_work__items .item p {
  font-size: 1.25rem;
  font-weight: var(--s-medium);
  max-width: 13.4375rem;
}

.reviews {
  margin-bottom: 6.25rem;
}

@media (max-width: 899px) {
  .reviews {
    margin-bottom: 9.25rem;
  }
}

.reviews .swiper-container {
  padding: 3.125rem 1.25rem;
  margin: -3.125rem -1.25rem;
}

.reviews__title {
  margin-bottom: 4.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__item {
  position: relative;
  border-radius: 0.5rem;
  padding: 1.5rem;
  -webkit-box-shadow: 0 0 6px rgba(73, 122, 240, 0.25);
          box-shadow: 0 0 6px rgba(73, 122, 240, 0.25);
  background-color: white;
}

.reviews__item::before {
  content: "";
  position: absolute;
  top: -2.8125rem;
  left: 2.75rem;
  background: url(../img/quote.png);
  background-size: 100%;
  width: 5.9375rem;
  height: 3.9375rem;
  z-index: -1;
}

.reviews__item .title {
  display: block;
  font-size: 1.25rem;
  font-weight: var(--s-medium);
  margin-bottom: 1rem;
}

@media (max-width: 899px) {
  .reviews__item .title {
    font-size: 1.125rem;
  }
}

.reviews__item p {
  line-height: 136%;
  font-size: 1rem;
}

@media (max-width: 899px) {
  .reviews__item p {
    font-size: 0.875rem;
  }
}

.reviews__item p a {
  color: #497AF0;
  margin-left: 0.1875rem;
}

.reviews__item p a:hover {
  text-decoration: underline;
}

.reviews .button-border {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.price {
  margin-bottom: var(--mb-section);
}

@media (max-width: 899px) {
  .price {
    margin-bottom: 4.5rem;
  }
}

@media (max-width: 540px) {
  .price {
    margin-bottom: 4rem;
  }
}

.price h2.title {
  margin-bottom: 3rem;
}

@media (max-width: 899px) {
  .price h2.title {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 899px) {
  .price .desktop {
    display: none !important;
  }
}

.price .smart {
  display: none;
}

@media (max-width: 899px) {
  .price .smart {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 540px) {
  .price .smart {
    margin-bottom: 1rem;
  }
}

.price__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.price__content > .block_wrap {
  width: 40rem;
  margin-right: 2rem;
}

@media (max-width: 899px) {
  .price__content > .block_wrap {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 540px) {
  .price__content > .block_wrap {
    margin-bottom: 1rem;
  }
}

.price__content .price__calc {
  width: 28rem;
}

@media (max-width: 899px) {
  .price__content .price__calc {
    width: 100%;
    margin-right: 0;
  }
}

.price__content .price__calc .title, .price__content .price__calc .subtitle {
  font-size: 1.25rem;
  font-weight: var(--s-medium);
  margin-bottom: 1.5rem;
  color: var(--c-text);
  display: block;
}

.price__content .price__calc .subtitle {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.price__content .price__calc .custom-select {
  margin-bottom: 1rem;
}

.price__content .price__calc .button-border {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.25rem;
}

.message {
  margin-bottom: 4.8125rem;
}

.message .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.message .title {
  margin-bottom: 2.5rem;
  text-align: center;
}

.message .block_wrap {
  width: 34rem;
}

@media (max-width: 540px) {
  .message .block_wrap {
    width: 100%;
  }
}

.message .block_wrap .title {
  text-align: left;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  color: var(--c-text);
}

@media (max-width: 540px) {
  .message .block_wrap .title {
    margin-bottom: 1.25rem;
  }
}

.message .block_wrap .field {
  margin-bottom: 1rem;
}

.stages {
  margin-bottom: 7rem;
}

.stages .title {
  margin-bottom: 3.75rem;
}

.stages__items .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4rem;
}

.stages__items .item:last-child {
  margin-bottom: 0;
}

.stages__items .item b {
  max-width: 22rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 22rem;
      -ms-flex: 0 0 22rem;
          flex: 0 0 22rem;
  margin-right: 1.375rem;
  font-size: 1.5rem;
  color: var(--c-text);
}

.stages__items .item__text {
  position: relative;
}

.stages__items .item__text span {
  position: absolute;
  top: -5rem;
  left: 0;
  color: rgba(73, 122, 240, 0.15);
  font-size: 9rem;
  font-weight: var(--s-medium);
}

.stages__items .item__text p {
  font-size: 1rem;
}

.contact {
  margin-bottom: 10.375rem;
}

.contact .container {
  position: relative;
}

.contact__map {
  border-radius: 1rem;
  overflow: hidden;
  height: 32.5rem;
}

.contact .block_wrap {
  position: absolute;
  width: 18rem;
  left: 10rem;
  bottom: -1.875rem;
}

.contact .block_wrap .title {
  margin-bottom: 1.25rem;
  font-size: 1.75rem;
  font-weight: var(--s-medium);
}

.contact .block_wrap .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5625rem;
}

.contact .block_wrap .item:last-child {
  margin-bottom: 0;
}

.contact .block_wrap .item .icon {
  width: 1.75rem;
  height: 1.75rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 1.75rem;
      -ms-flex: 0 0 1.75rem;
          flex: 0 0 1.75rem;
  margin-right: 0.5rem;
}

.contact .block_wrap .item .text b {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: var(--s-medium);
  color: var(--c-text);
  display: block;
}

.contact .block_wrap .item .text p, .contact .block_wrap .item .text a {
  color: var(--c-text);
  font-size: 1rem;
}

.page_wrap {
  margin-top: 3.75rem;
  margin-bottom: 6.25rem;
}

.breadcrumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 2.5rem;
}

.breadcrumbs a, .breadcrumbs span {
  font-size: 1rem;
  color: var(--c-text);
}

.breadcrumbs a {
  position: relative;
  margin-right: 2rem;
}

.breadcrumbs a::before {
  content: "/";
  pointer-events: none;
  position: absolute;
  top: 0;
  right: -1.25rem;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.product_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.product_items .item {
  width: calc((100% - 4rem) / 3);
  margin-right: 2rem;
  margin-bottom: 2.5rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
  background-color: white;
  -webkit-box-shadow: 0 0 6px rgba(10, 31, 221, 0.25);
          box-shadow: 0 0 6px rgba(10, 31, 221, 0.25);
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product_items .item:last-child {
  margin-right: 0;
}

.product_items .item__image {
  height: 18.75rem;
  margin-bottom: 1.25rem;
}

.product_items .item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product_items .item__title, .product_items .item__list {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.product_items .item__title {
  margin-bottom: 1.125rem;
}

.product_items .item__title span {
  font-size: 1.25rem;
  color: var(--c-text);
  line-height: 136%;
  font-weight: var(--s-medium);
}

.product_items .item__list {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_items .item__list span {
  color: var(--c-text);
}

.product_items .item__list span b {
  margin-right: 0.1875rem;
}

.product_items .item__list span:last-child {
  color: black;
}

.product_items .item__list:last-child {
  margin-bottom: 0;
}

.product_items .item > .flex {
  margin-top: auto;
}

.calc {
  margin-bottom: 4.375rem;
}

.calc .title {
  margin-bottom: 2.5rem;
}

.calc .block_wrap {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.calc .block_wrap:first-child {
  padding: 2rem 2.875rem;
  width: 39.9375rem;
}

.calc .block_wrap:last-child {
  padding: 2rem 1.625rem;
  width: 28rem;
}

.calc .block_wrap:last-child .field {
  margin-bottom: 1rem;
}

.calc .block_wrap .title,
.calc .block_wrap .subtitle {
  font-size: 1.25rem;
  font-weight: var(--s-medium);
  margin-bottom: 1.5rem;
  color: var(--c-text);
  display: block;
  color: black;
}

.calc .block_wrap .subtitle {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.calc .block_wrap .subtitle:last-child {
  margin-left: 6.25rem;
}

.calc .block_wrap .custom-select {
  margin-bottom: 1rem;
}

.article__content {
  margin-left: 6rem;
  margin-right: 6rem;
}

.article__content > p {
  line-height: 136%;
  max-width: 52rem;
  margin-bottom: 1.375rem;
}

.article__content > p:last-of-type {
  margin-bottom: 0;
}

.article__content h2 {
  font-size: 1.25rem;
  margin-top: 4.625rem;
  margin-bottom: 2rem;
}

.article .image-main {
  border-radius: 1rem;
  margin-top: 2.5rem;
}

.article .title {
  margin-bottom: 2.1875rem;
}

.article__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 2.5rem 0;
}

.article__items .item {
  position: relative;
  width: calc((100% - 4rem) / 3);
  margin-right: 2rem;
  border-radius: 1rem;
  height: 15.625rem;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article__items .item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.article__items .item b {
  position: relative;
  z-index: 1;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.article__items .item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.article__items .item:last-child {
  margin-right: 0;
}

.article__items-list {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 2.5rem;
}

.article__items-list::before {
  content: "";
  position: absolute;
  bottom: -4.75rem;
  left: 3.5rem;
  width: 20.1875rem;
  height: 16.875rem;
  background: url(../img/texts/decore.png) no-repeat;
  background-size: 100%;
}

.article__items-list .item {
  width: calc((100% - 4rem) / 3);
  margin-right: 2rem;
  margin-bottom: 2.5rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
  background-color: white;
  -webkit-box-shadow: 0 0 6px rgba(10, 31, 221, 0.25);
          box-shadow: 0 0 6px rgba(10, 31, 221, 0.25);
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.article__items-list .item:last-child {
  margin-right: 0;
}

.article__items-list .item__image {
  height: 15.625rem;
  margin-bottom: 1.25rem;
}

.article__items-list .item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__items-list .item__title, .article__items-list .item__list {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.article__items-list .item__title {
  margin-bottom: 1.125rem;
}

.article__items-list .item__title span {
  font-size: 1.25rem;
  color: var(--c-text);
  line-height: 136%;
  font-weight: var(--s-medium);
}

.article__items-list .item__list li {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.article__items-list .item__list li::before {
  content: "";
  position: absolute;
  top: 0.4375rem;
  left: 0;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: var(--c-text);
}

.article__items-list .item__price {
  margin-left: auto;
  margin-right: 1.5rem;
}

.article__items-list .item__price b {
  font-size: 1.25rem;
}

.page_not {
  margin-top: 4.0625rem;
  margin-bottom: 2.1875rem;
}

.page_not img {
  margin-bottom: 3.5rem;
}

.page_not h1 {
  margin-bottom: 2.5rem;
  font-size: 2.25rem;
}

.footer {
  padding: 3.125rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(234, 228, 255, 0)), color-stop(47.45%, #EAE4FF));
  background: -o-linear-gradient(top, rgba(234, 228, 255, 0) 0%, #EAE4FF 47.45%);
  background: linear-gradient(180deg, rgba(234, 228, 255, 0) 0%, #EAE4FF 47.45%);
}

.footer__top {
  margin-bottom: 2.5rem;
}

.footer__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 899px) {
  .footer__bottom ul {
    width: 33.333%;
    margin-bottom: 2.75rem;
  }
}

@media (max-width: 540px) {
  .footer__bottom ul {
    width: 50%;
    margin-bottom: 1.375rem;
  }
}

.footer__bottom ul li {
  margin-bottom: 1.25rem;
}

.footer__bottom ul li:last-child {
  margin-bottom: 0;
}

.footer__bottom ul li a {
  font-size: 1.125rem;
  color: var(--c-text);
}

@media (max-width: 540px) {
  .footer__bottom ul li a {
    font-size: 1rem;
  }
}

.footer__bottom-phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 899px) {
  .footer__bottom-phone {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 540px) {
  .footer__bottom-phone {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__bottom-phone .text {
  margin-bottom: 1.5rem;
  margin-right: 0.875rem;
  font-size: 1.5rem;
  color: #2A2A2A;
  font-weight: var(--s-medium);
}

@media (max-width: 899px) {
  .footer__bottom-phone .text {
    margin-bottom: 0;
  }
}

@media (max-width: 540px) {
  .footer__bottom-phone .text {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 340px) {
  .footer__bottom-phone .text {
    font-size: 0.875rem;
  }
}

.footer__bottom-phone .button-blue {
  padding: 1rem 2rem;
}

@media (max-width: 540px) {
  .footer__bottom-phone .button-blue {
    font-size: 0.9375rem;
    padding: 0.5rem 0.625rem;
  }
}

@media (max-width: 340px) {
  .footer__bottom-phone .button-blue {
    font-size: 0.875rem;
    padding: 0.5rem;
  }
}
